@import models.User
@import services.{FileProcessResult, MultiFileUploadResult}
@import models.StarCraftModels._
@import models.PotentialAnalyticalFile
@import helper._
@(user: User, userToUpdateId: Long, matches: Map[SCRace, Map[SCRace, Int]], potentials: Seq[PotentialAnalyticalFile])(implicit request: RequestHeader, flash: Flash, messages: Messages)

@main(messages("upload.title"), Some(user)) {

<table>
    <thead>
    <tr>
        <th scope="col">Match</th>
        <th scope="col">@messages("quantity.expected")</th>
    </tr>
    <tbody>
    @for((playerRace, opponentMatches) <- matches) {
    @for((opponentRace, count) <- opponentMatches) {
    <tr>
        <td>@playerRace vs @opponentRace</td>
        <td>@count</td>
    </tr>
    }
    }
    </tbody>
    </thead>
</table>
<table>
    <thead>
    <tr>
        <th scope="col">User</th>
        <th scope="col">UserRace</th>
        <th scope="col">vs</th>
        <th scope="col">Rival</th>
        <th scope="col">RivalRace</th>
        <th scope="col">Enviar</th>
    </tr>
    </thead>
    <tbody>
    @for(potential <- potentials){
    <tr>
        <th>@potential.userPlayer.name</th>
        <th>@potential.userPlayer.race</th>
        <th>vs</th>
        <th>@potential.rivalPlayer.name</th>
        <th>@potential.rivalPlayer.race</th>
        <th>
            <form method="post"
                  action="@routes.AnalyticalCopyController.moveTournamentToAnalytical()">
                @helper.CSRF.formField
                <input type="hidden" name="uploadedFile" value=@{potential.uploadedFile.id}>
                <input type="hidden" name="userSlotId" value=@{potential.userPlayer.id}>
                <input type="hidden" name="userRace" value="@{potential.userPlayer.race}">
                <input type="hidden" name="rivalRace" value="@{potential.rivalPlayer.race}">
                <input type="hidden" name="frames" value=@{potential.frames}>
                <input type="hidden" name="userId" value=@{userToUpdateId}>
                <input type="submit" value="Usar"/>

            </form>
        </th>
    </tr>
    }
    </tbody>
</table>
}
