@import models.{User, UserAliasHistory}
@import models.StarCraftModels._
@import helper._
@import java.time.format.DateTimeFormatter
@import java.time.ZoneId
@(user: User, allAlias: Seq[UserAliasHistory])(implicit request: RequestHeader, flash: Flash, messages: Messages)

@main(messages("casual.match.find.player"), Some(user)) {
<table>
    <thead>
    <tr>
        <th scope="col">Rival</th>
    </tr>
    </thead>
    <tbody>
    @for(alias <- allAlias) {
    <tr>
        <td>
            <form method="post" action="@routes.CasualMatchController.createCasualMatch(alias.userId)">
                @helper.CSRF.formField
                <input type="submit" value="@{alias.alias}" />
            </form>
        </td>
    </tr>
    }
    </tbody>
</table>

}