@import models.{User, UserAliasHistory}
@import models.StarCraftModels._
@import helper._
@import java.time.format.DateTimeFormatter
@import java.time.ZoneId
@(user: User, allAlias: List[(UserAliasHistory, List[UserAliasHistory])])(implicit request: RequestHeader, flash: Flash, messages: Messages)

@main(messages("casual.match.find.player"), Some(user)) {
<table>
    <thead>
    <tr>
        <th scope="col">Escoge VS Rival</th>
    </tr>
    </thead>
    <tbody>
    @for((currentAlias, previousAliases) <- allAlias) {
    <tr>
        <td>
            <form method="post" action="@routes.CasualMatchController.createCasualMatch(currentAlias.userId)">
                @helper.CSRF.formField
                <button type="submit" class="contrast" >
		@currentAlias.alias
		</button>
            </form>
	    @if(previousAliases.nonEmpty) {
	    	<details open>
		<ul>
		@for(oldAlias <- previousAliases) {
			<li>
			<small class="secondary">
			@oldAlias.alias
			</small>
			</li>
		}
		</ul>
		</details>
	    }
        </td>
    </tr>
    }
    </tbody>
</table>

}
