@import models.UserMatchInfo
@import models.viewmodels.{MatchDisplayData, MatchStatus}

@(user: User, userMatches: List[UserMatchInfo])(implicit request: RequestHeader, messages: Messages)

@if(userMatches.nonEmpty) {
<section>
    <h2>@messages("partials.matches.title")</h2>
    <p>@messages("partials.matches.description")</p>

    <div class="table-responsive">
        <table>
            <thead>
            <tr>
                <th>@messages("partials.matches.tournament")</th>
                <th>@messages("partials.matches.opponent")</th>
                <th>@messages("partials.matches.result")</th>
                <th>@messages("partials.matches.actions")</th>
            </tr>
            </thead>
            <tbody>
            @for(matchInfo <- userMatches) {
            @defining(MatchDisplayData.fromUserMatchInfo(matchInfo, user)) { matchData =>
            <tr>
                <td>@matchData.tournamentName</td>
                <td>@matchData.opponent</td>
                <td>
                    @if(matchData.hasResult) {
                        <span>@matchData.winner</span>
                    } else {
                    <span>@messages("partials.matches.pending")</span>
                    }
                </td>
                <td>
                    @if(matchData.canUploadReplay) {
                    <a href="@routes.FileUploadController.uploadFormForMatch(matchData.tournamentID, matchData.challengeMatchId)"
                       role="button" class="outline">
                        @messages("partials.matches.upload.replay")
                    </a>
                    }else{
                        @if(matchData.hasResult) {
                            <a href="@routes.MatchResultController.viewResults(matchData.challengeMatchId)">@messages("partials.matches.see.result")</a>
                        }
                    }
                </td>
            </tr>
            }
            }
            </tbody>
        </table>
    </div>
</section>
}

@renderMatchStatus(status: MatchStatus) = {
@status match {
case MatchStatus.Open => {
<mark>@status.displayName</mark> }
case MatchStatus.Pending => {
<mark>@status.displayName</mark> }
case MatchStatus.Complete => {
<mark>@status.displayName</mark> }
case MatchStatus.Other(_) => {
<mark>@status.displayName</mark> }
}
}
