@import models.LiveChat
@(streamId: String, liveChat: LiveChat)(implicit request: MessagesRequestHeader, flash: Flash)

@main("Live Chat Details") {
<article>
    <header>@{liveChat.title}</header>
    <form action="@routes.YoutubeFrontendController.startMonitoring()" method="POST">
        @helper.CSRF.formField
        <input type="hidden" name="liveChatId" value="@{liveChat.livechatID}">
        <input type="hidden" name="channelID" value="@{liveChat.channelID}">
        <button type="submit" class="btn btn-primary">Start Monitoring</button>
    </form>
</article>
}